<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="fromAddress" value="bi@peixeurbano.com"/>
    <add key="fromAlias" value="Informações Gerenciais"/>
    <add key="fromPwd" value="peixebipu2"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
