<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="DW" connectionString="Server=172.26.1.143,1443;Database=SALESFORCE;Trusted_Connection=true" />
    <add name="Redshift" connectionString="Driver={PostgreSQL Unicode(x64)}; Server=pu-dw-1.cphgrk2t7oss.us-east-1.redshift.amazonaws.com; Database=dw; DS=salesforce; UID={0}; PWD={1}; Port=5439" />
  </connectionStrings>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
  </appSettings>
</configuration>