<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="PROCESSCONTROL" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp13.peixeurbano.local,1443;Database=REPORTS;Trusted_Connection=False;User Id={ProcessControlUserId};Password={ProcessControlPwd};"/>
    <add name ="REPORTS" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp13.peixeurbano.local,1443;Database=REPORTS;Trusted_Connection=True;"/>
    <add name ="APPPROD" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp13.peixeurbano.local,1443;Database=REPORTS;Trusted_Connection=True;"/>
    <add name ="FIN" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp13.peixeurbano.local,1443;Database=REPORTS;Trusted_Connection=True;"/>
    <add name ="DW" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp13.peixeurbano.local,1443;Database=REPORTS;Trusted_Connection=True;"/>
    <add name ="PEIXEURBANO" providerName ="System.Data.SqlClient" connectionString="Server=sqlaapddp12.peixeurbano.local,1442;Database=REPORTS;Trusted_Connection=True;"/>
    <add name ="REDSHIFT" providerName ="System.Data.Odbc.OdbcConnection" connectionString="Driver={Amazon Redshift (x64)}; Server=redshift.peixeurbano.local; Database=dw; DS=reports; UID={RedshiftUserId}; PWD={RedshiftPwd}; Port=5439"/>
  </connectionStrings>
</configuration>