<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <persistenceEngines>
    <add name ="APPPROD" className ="BusinessIntelligence.Persistence.SqlServerPersistenceEngine"  connectionName="APPPROD" schemaName="APPPROD"/>
    <add name ="WEBAPI" className ="BusinessIntelligence.Persistence.ApiPersistenceEngine"  url="http://localhost:63203/api/v1"/>
  </persistenceEngines>
</configuration>