<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="biConnection" connectionString="Persist Security Info=False;Integrated Security=true;Initial Catalog=HELPDB;server=172.26.1.142,1442" providerName="SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
